<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>For Document Approvel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="font-family:lato;">
<p style="text-align:center;background-color:black">
<img src="https://dolphino.s3-us-west-2.amazonaws.com/Quacck/123/8237399776c2ba69127bae24a24ac7b.jpg"
 alt="Girl in a jacket" width="100" height="100">
</p>
    <p> Dear  Rajat </p>
   <p> You have got an file for verification named "File name" from Department "Department name" . </p>
<p>Please preview the file, download the file and upload a modified file if any. </p>
<p> <span> Please click on the given URL for verify the file</span><span> <a href="https://www.w3schools.com/" target="_blank">Visit W3Schools.com!</a> <span>
</p>
</body>
</html>